
/*Media queries para móvil*/
@media (min-width: 320px){
    .gallery-container{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1rem;
    }
    h3{
        font-size: 0.9rem;
    }
    h4{
        font-size: 0.8rem;
    }
    h5{
        font-size: 0.7rem;
    }
    p{
        margin-left: $marginReferences;
        margin-right: $marginReferences;
        font-size: 16px;
        text-align:start;
    }
    img{
        width: 90%;
    }
    .slogan{
        font-size: small;
    }
    .grid-container{
        grid-template:
            "header" 100px
            "navigationbar" 100px
            "main" auto
            "sidebar" auto
            "footer" 100px /
            100%;
    }
}

/*Media queries para tablet*/
@media (min-width:760px){
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        margin-left: $marginsText;
        margin-right: $marginsText;
        font-size: 16px;
        text-align:start;
    }
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    img{
        width: 90%;
    }
    .slogan{
        font-size: medium;
    }
    .grid-container{
        grid-template:
            "header" 120px
            "navigationbar" 100px
            "main" auto
            "sidebar" auto
            "footer" 90px /
            100%;
    }
}

/*Media queries para laptop*/
@media (min-width: 1000px){
    h1{
        font-size: 5rem;
    }
    p{
        text-align:start;
        font-size: 20px;
    }
    .gallery-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-container{
        grid-template:
            "header" 150px
            "navigationbar" 100px
            "main" auto
            "sidebar" auto
            "footer" 100px /
            100%;
    }
}

/*Fin de código*/
